<h1>About</h1>

<p class="about"> Bike Berlin is the place to find the perfect bike for you while in Berlin.  Browse our selection and find the bike best for you, either new or used.  </p>
<br>
<br>
<h3 class="about"> Have a bike to sell? </h3>
<br>
<p class ="about">  Bike Berlin is the perfect place to sell your old bike for some quick cash!</p>