<h1>Welcome to Bike Berlin</h1>
<div class="imagediv">
<%= link_to(image_tag("tealbike.jpg", class:"img-responsive, tealbike"), products_path) %>
</div>
<div id="homepage_h2">
  <h2> Your source for used bikes in Berlin.</h2>
</div>
<!-- to comment out erb tags use "#" inside the tag like so:

<%#=variable%> or <%#variable%>
-->
  