<body style="width: 100%;background-color: white;margin: 0;">
  <table style="width: 100%;background-color: #0fcda1;height: 100%;margin: 0 0px;margin-right: 20px;">
  <tr>
    <td> 
      <p style="color: white;text-align: center;font-weight: 300px;">Thank you for ordering the <%=@product.name%> bike.</p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: white;text-align: center;font-weight: 300px;">Your bike should arrive in 7-10 days.  Please come back and leave a comment.</p>
    </td>
  </tr>
  </table>
</body>