
<body class="payment_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 thankyou_note">
        <p class="product_title"> Thank you for your purchase!</p>
        <p class="create_text"> Be sure to leave us a <%=link_to 'comment', product_path(@product)%>. </p>
        <p class="create_text">  Browse through our other <%= link_to 'bikes!', products_path %> </p>
      </div>
    </div>
  </div>
</body>