// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange : #FF6600;
$Maroon : #660000;
* {
  box-sizing: border-box;
  overflow: auto;
}
/* Cant decide on a background image yet.
body {
  background-image: url("gears.jpg");
  background-size: 100%;
}
*/
body {
  height: 100%;
  margin: 0;
  margin-bottom: 40px;
}
p {
  padding-left: 10px;
}
h1 {
  font-family : Arial, Verdana, sans-serif;
  color : $orange;
  text-align: center;
  background-color: white;
  margin-bottom: 16px;
  padding-top: 40px;
  padding-left: 5px;
}
h2 {
  font-family: Arial, Verdana, sans-serif;
  color: $Maroon;
  text-align: left;
  padding-left: 25px;
}
.imagediv {
  background-image: url("bike3.jpg");
  background-size: cover;
  border-top: 2px solid $Maroon;
  border-bottom: 2px solid $Maroon;
}
.tealbike {
  display: block;
  margin: 2em 0;
  margin-left: 2%;
  width: 40%;
  border-radius: 6px;
  border: 3px solid $Maroon;
}
@media only screen and (max-width: 768px){
  .tealbike {
    width: 90%;
    margin: 1em auto;
  }
}
nav {
  background-color: $Maroon;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.nav_left {
  float: left;
}
.nav_right {
  float: right;
  padding-right: 40px;
}
nav ul li {
  display: inline-block;
  background-color: $Maroon;
  color: white;
}
nav li a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 11px;
}
nav li a:visited {
  color: white;
}
footer {
  background-color: $Maroon;
  color: white;
  position: fixed;  
  bottom: 0;
  width: 100%;
  height: 40px;
}
footer p {
  padding: 8px;
}
#email_link {
  color: $orange;
  padding-left: 25px;
}
/* Contact Page */
.form-group label {
  color: purple;
}
.btn-default {
  color: white;
  background-color: $orange;
}
.btn-default:hover {
  color: white;
  background-color: purple;
}
