// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange : #FF6600;
$maroon : #660000;
* {
  box-sizing: border-box;
  overflow: auto;
}
/* Navigation*/
.navbar-default {
  background-color: $maroon;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-size: 1.5em;
}
.search_form {
margin-top: 0;
}
.btn-primary {
  background-color: $orange;
  border-color: $maroon;
}
.btn-primary:hover {
  background-color: $orange;
  border-color: $maroon;
}
body {
  height: 100%;
  margin: 0;
  margin-bottom: 40px;
}
p {
  padding-left: 10px;
}
h1 {
  font-family : Arial, Verdana, sans-serif;
  color : $orange;
  text-align: center;
  background-color: white;
  margin-bottom: 16px;
  padding-left: 5px;
  overflow: hidden;
}
h2 {
  font-family: Arial, Verdana, sans-serif;
  color: $maroon;
  text-align: left;
  padding-left: 25px;
}
h5 {
  color: purple;
}
.imagediv {
  background-image: url("bike3.jpg");
  background-size: cover;
  border-top: 2px solid $maroon;
  border-bottom: 2px solid $maroon;
}
.tealbike {
  display: block;
  margin: 2em 0;
  margin-left: 2%;
  width: 40%;
  border-radius: 6px;
  border: 3px solid $maroon;
}
@media only screen and (max-width: 768px){
  .tealbike {
    width: 90%;
    margin: 1em auto;
  }
}
#homepage_h2 {
  margin-top: 50px;
}
footer {
  background-color: $maroon;
  color: white;
  position: fixed;  
  bottom: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
footer p {
  padding: 8px;
}
#email_link {
  color: $orange;
  padding-left: 25px;
}
/* Bikes PAage */

#new_product_link  a {
  color: white;
  background-color: purple;
  font-size: 1.5em;
  padding: 0 10px;
  text-decoration: none;
  position: absolute;
  top: 60px;
  right: 20px;
  border: 2px solid purple;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  #new_product_link a {
    width: 80px;
    font-size: 1em;
    text-align: center;
    top: 131px;
    right: 31px;
    border-radius: 4px;
  }
}
#new_product_link a:hover {
  color: purple;
  background-color: white;
}
.product_title {
  color: $maroon;
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0;
}
.product_div,
.product_section {
  height: 605px;
  border: 2px solid white;
  background: radial-gradient(white, #d3d3d3);
  display: inline-block;
  overflow: auto;
}
.product_image {
  height: 300px;
  text-align: center;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.product_image > img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.product_description {
  margin-top: 15px;
}
.zoomContainer {
  overflow: visible;
}
.bottom_div {
  position: fixed;
  bottom: 4px;
}
#comments {
  margin-left: 20px;
  overflow: auto;
  text-align: center;
}
#comment_textarea {
  width: 75%;
  height: 100px;
  margin-top: 20px;
}
.stripe-button-el {
  float:right;
}
/* Links at bottom of Product div */
.inline_list {
  padding: 0;
  position: absolute;
  bottom: 0;
}
.inline_list li {
  display: inline-block;
}
.inline_list a {
  font-size: .75em;
  color: black;
  padding: 0 2px;
  text-align: center;
}
.show_links,
.show_links:hover {
  color: red;
  text-decoration: none;
}
/* Pagination */
.pagination {
  color: $maroon;
  width: 100%;
  text-align: center;
}
.pagination a:hover {
  text-decoration: none;
}
.pagination a,
.pagination a:visited {
  color: $maroon;
}
.previous_page,
.next_page {
  font-size: 16px;
  color: $maroon;
}
.current {
  color: $orange;
  font-size: 16px;
  font-weight: bold;
}
/* Contact Page */

.form-group label {
  color: purple;
}
.btn-default {
  color: white;
  background-color: $orange;
}
.btn-default:hover {
  color: white;
  background-color: purple;
}
/* Newproduct, edit..forms */
.field {
  width: 50%;
  margin-left: 20px;
}
.field input {
  float: right;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .field {
    width: 90%;
  }
  .field input {
    width: 75%;
    float:right;
  }
}
.top_of_field {
  margin-top: 35px;
}
.actions {
  position: relative;
  left: 545px;
  margin-top: 10px;
  color: $orange;
}
#new_listing {
  
  margin-left: 20px;
}
/* Landing Page */
#landing_page {
  margin-top: 50px;
}
.carousel-inner > .item > img {
  margin: 0 auto;
  height: 500px;
}
.carousel-indicators li {
  background-color: $maroon;
}
.carousel-indicators .active {
  background-color: orange;
}
/* Forms */
.search_label > label {
  color: blue;
}
.labels {
  color: white;
}
.search_box {
  height: 100%;
}
.contact_form {
  padding: 0 20px;
}
.contact_button {
  padding: 10px;
}
/* Devise Links */
#devise_links a {
  color: red;
}
.devise_forms {
  margin-top: 20px;
}
#devise_links {
  position: fixed;
  bottom: 60px;
  margin-left: 30px;
}
/* Users Pages */
.users_links {
  margin-left: 38px;
}
.users_links a {
  color: purple;
}
.users_links li {
  display: inline-block;
}
.new_user_btn {
  margin-left: 34px;
}
.users_div {
  margin-top: 10px;
}
/* Payment Page */
.payment_page {
  background-color: $maroon;
  background-size: 100%;
  background-image: url('happycyclist.png');
}
@media only screen and (max-width: 768px){
  .payment_page {
    background-image: none;
    background-color: $maroon;
  }
}
.thankyou_note {
  background: radial-gradient(white, #d3d3d3);
  text-align: center;
  height: 500px;
  padding-top: 25px;
  border-radius: 15px;
}
.create_text {
  color: purple;
  font-family: verdana, sans-serif;
  font-size: 1.3em;
}