// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange : #FF6600;
$Maroon : #660000;
* {
	box-sizing: border-box;
	overflow: auto;
}
/* Cant decide on a background image yet.
body {
	background-image: url("gears.jpg");
	background-size: 100%;
}
*/
body {
	height: 100%;
	margin: 0;
	margin-bottom: 40px;
}
h1 {
	font-family : Arial, Verdana, sans-serif;
	color : $orange;
	text-align: center;
	background-color: white;
	margin-bottom: 16px;
	padding-top: 40px;
}
h2 {
	font-family: Arial, Verdana, sans-serif;
	color: $Maroon;
	text-align: left;
}
.imagediv {
	background-image: url("bike3.jpg");
	background-size: cover;
	border-top: 2px solid $Maroon;
	border-bottom: 2px solid $Maroon;
}
.tealbike {
	
	display: block;
	margin: 2em 0;
	margin-left: 2%;
	width: 40%;
	border-radius: 6px;
	border: 3px solid $Maroon;
}
@media only screen and (max-width: 768px){
	.tealbike {
		width: 90%;
		margin: 1em auto;
	}
}
nav {
	background-color: $Maroon;
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
}
nav ul li {
	display: inline-block;
	background-color: $Maroon;
	color: white;
	padding: 10px;
	border: 4px, solid, white;
}
footer {
	background-color: $Maroon;
	color: white;
	position: fixed;	
	bottom: 0;
	width: 100%;
	height: 40px;
}
footer p {
	padding: 8px;
}