<p id="notice"><%= notice %></p>

<h1>Products</h1>

<section class="container-fluid">
  <% @products.each do |product| %>
    <%= render @products %>
  <% end %>
</section>

 <br>

 <section id="new_product_link">
  <%= link_to 'New Product', new_product_path %>
</section>
