
<h1>Products</h1>

<section class="container-fluid">
  <%= render @products %>
</section>

  <%= will_paginate @products, :page_links =>true %>

 <br>

 <section id="new_product_link">
  <%= link_to 'New Product', new_product_path %>
</section>
