<!DOCTYPE html>
<html>
  <head>
    <title>Bike Berlin</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav>
  		<ul>
  			<li>Home</li>
  			<li>Bikes</li>
        <li>About</li>
  			<li>Contact</li>
  		</ul>
  	</nav>

    <%= yield %>

    <footer class="container-fluid">
    	<p>&copy; 2015 Bike Berlin</p>
    </footer>
  </body>
</html>
